boto3==1.39.15
PyYAML==6.0.2
pyzstd>=0.16.0
tabulate==0.9.0
prettytable==3.12.0
requests==2.32.4
jsonschema==4.23.0
packaging==25.0
psutil==7.1.3
sccache==0.10.0
python-magic==0.4.27; sys_platform != "win32"
