Package: {{ pkg_name }}
Version: {{ version }}
Section: {{ section }}
Priority: {{ priority }}
Architecture: {{ arch }}
Maintainer: {{ maintainer }}
Homepage: {{ homepage }}
Depends: {{ depends }}
Description: {{ description }}
