<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

<!-- Common settings -->
<?include common.wxi ?>

<!-- Package components -->
<Fragment>
  <?include amdrocm-runtime-dev-components.wxi ?>
</Fragment>

<Package Name="amdrocm-runtime-dev" Version="1.0.0.0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="5F85E7EF-E653-40AD-B24A-34E5056C43B1" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />

  <!-- Directory structure -->
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="INSTALLFOLDER" Name="AMD\$(var.ProductName)\$(var.ProductVersion)">
    <?include amdrocm-runtime-dev-structure.wxi ?>
  </Directory>
  </StandardDirectory>
  <!-- Feature description -->
  <Feature Id="amdrocm_runtime_dev_files" Title="ROCm Runtime Dev" Level="1" Display="expand">
    <?include amdrocm-runtime-dev-feature.wxi ?>
  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
</Package>
</Wix>
