<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
<?include common.wxi ?>
<Package Name="amdrocm-dnn" Version="$(var.ProductVersion).0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="103E00E5-DD84-485E-BBD9-56F48B74ECA1" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="AMDDir" Name="AMD">
      <Directory Id="ProductDir" Name="$(var.ProductName)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductVersion)">
    <?include amdrocm-dnn-content.wxi ?>

        </Directory>
      </Directory>
    </Directory>
  </StandardDirectory>
  <Feature Id="amdrocm_dnn_files" Title="ROCm HIPDNN Package" Level="1" Display="expand">
  <?include amdrocm-dnn-features.wxi ?>

  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
  </Package>
</Wix>
