<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

<!-- Common settings -->
<?include common.wxi ?>

<!-- Package components -->
<Fragment>
  <?include amdrocm-llvm-components.wxi ?>
</Fragment>

<Package Name="amdrocm-llvm" Version="1.0.0.0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="2E93D7A3-3319-4E39-A824-7199EBCC3628" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />

  <!-- Directory structure -->
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="INSTALLFOLDER" Name="AMD\$(var.ProductName)\$(var.ProductVersion)">
    <?include amdrocm-llvm-structure.wxi ?>
  </Directory>
  </StandardDirectory>
  <!-- Feature description -->
  <Feature Id="amdrocm_llvm_files" Title="ROCm LLVM Package" Level="1" Display="expand">
    <?include amdrocm-llvm-feature.wxi ?>
  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
</Package>
</Wix>
