<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
<?include common.wxi ?>
<Package Name="amdrocm-fft" Version="$(var.ProductVersion).0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="961C6AEB-10F6-4A78-8971-2E622F99B289" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="AMDDir" Name="AMD">
      <Directory Id="ProductDir" Name="$(var.ProductName)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductVersion)">
    <?include amdrocm-fft-content.wxi ?>

        </Directory>
      </Directory>
    </Directory>
  </StandardDirectory>
  <Feature Id="amdrocm_fft_files" Title="ROCm FFT Package" Level="1" Display="expand">
  <?include amdrocm-fft-features.wxi ?>

  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
  </Package>
</Wix>
