<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

<!-- Common settings -->
<?include common.wxi ?>

<!-- Package components -->
<Fragment>
  <?include amdrocm-math-common-components.wxi ?>
</Fragment>

<Package Name="amdrocm-math-common" Version="1.0.0.0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="DCD4E8B8-C07F-44AE-8FF4-7F589484087D" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />

  <!-- Directory structure -->
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="INSTALLFOLDER" Name="AMD\$(var.ProductName)\$(var.ProductVersion)">
    <?include amdrocm-math-common-structure.wxi ?>
  </Directory>
  </StandardDirectory>
  <!-- Feature description -->
  <Feature Id="amdrocm_math_common_files" Title="ROCm Common Math Package" Level="1" Display="expand">
    <?include amdrocm-math-common-feature.wxi ?>
  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
</Package>
</Wix>
