<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
<?include common.wxi ?>
<Package Name="amdrocm-dnn-dev" Version="$(var.ProductVersion).0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="89B996EC-615A-48BD-AFBD-4564CE0067CE" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="AMDDir" Name="AMD">
      <Directory Id="ProductDir" Name="$(var.ProductName)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductVersion)">
          <?include amdrocm-dnn-dev-content.wxi ?>
        </Directory>
      </Directory>
    </Directory>
  </StandardDirectory>
  <Feature Id="amdrocm_dnn_dev_files" Title="ROCm HIPDNN Dev Package" Level="1" Display="expand">
  <?include amdrocm-dnn-dev-features.wxi ?>

  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
  </Package>
</Wix>
