<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency"
xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
<?include common.wxi ?>
<Package Name="amdrocm-blas" Version="1.0.0.0" Manufacturer="Advanced Micro Devices, Inc." UpgradeCode="60FF2D81-EFC5-4C0F-9888-3B387367732F" Scope="perMachine">
  <MediaTemplate EmbedCab="yes" />
  <StandardDirectory Id="ProgramFiles64Folder">
    <Directory Id="INSTALLFOLDER" Name="AMD\$(var.ProductName)\$(var.ProductVersion)">
    <?include amdrocm-blas-content.wxi ?>

    </Directory>
  </StandardDirectory>
  <Feature Id="amdrocm_blas_files" Title="ROCm BLAS Runtime" Level="1" Display="expand">
  <?include amdrocm-blas-features.wxi ?>

  </Feature>
  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
  </Package>
</Wix>
