{#
  Alternatives owned by amdrocm-core.

  Directory alternatives are owned by:
    - amdrocm-base
    - amdrocm-llvm
#}

{% set alternatives = [] %}

{% set binaries = [
    "hipcc",
    "hipconfig",
    "hipify-clang",
    "rocminfo",
    "amd-smi",
    "rocm_agent_enumerator",
    "amdclang",
    "amdclang++",
    "amdclang-cl",
    "amdclang-cpp",
    "amdflang",
    "amdlld"
] %}

