{#
  Alternatives owned by amdrocm-developer-tools.

  Directory alternatives are owned by:
    - amdrocm-base
    - amdrocm-llvm
#}

{% set alternatives = [] %}

{% set binaries = [
    "rocgdb",
    "rocprofv3",
    "rocprofv3-avail",
    "rocprof-attach",
    "rocprof-compute",
    "rocprof-sys-attach",
    "rocprof-sys-avail",
    "rocprof-sys-causal",
    "rocprof-sys-instrument",
    "rocprof-sys-python",
    "rocprof-sys-run",
    "rocprof-sys-sample",
    "rocpd",
    "rocminfo",
    "amd-smi",
    "rocm_agent_enumerator"
] %}

