{#
  Alternatives owned by amdrocm-core-devel.

  Directory alternatives are owned by:
    - amdrocm-base
    - amdrocm-llvm
#}

{% set alternatives = [] %}

{% set binaries = [
    "MIOpenDriver"
] %}

