{#
  Alternatives owned by amdrocm-llvm.
#}

{% set alternatives = [
    {
        "link": "/opt/rocm/llvm",
        "name": "rocm-llvm",
        "target_suffix": "/llvm"
    },
    {
        "link": "/opt/rocm/amdgcn",
        "name": "rocm-amdgcn",
        "target_suffix": "/amdgcn"
    }
] %}

{% set binaries = [] %}

