name: Install Native Linux Packages

on:
  push:
    branches:
      - users/rponnuru/native_linux_installation_clean
  workflow_call:
    inputs:
      artifact_group:
        description: gfx arch group for the s3 server
        type: string
        default: gfx94X-dcgpu
      artifact_run_id:
        description: workflow run id to download the artifacts from.
        required: true
        type: string
      rocm_version:
        description: ROCm version to append to the package(8.0.0, 8.0.1rc1, ... ).
        required: true
        type: string
      native_package_type:
        description: Specify whether debian or rpm packages are needed (deb or rpm).
        required: true
        type: string
      package_suffix:
        description: The suffix to be added to package name (asan, static or rpath).
        required: false
        type: string
      release_type:
        description: The type of release to build ("dev", "nightly", or "prerelease"). All developer-triggered jobs should use "dev"!
        required: false
        type: string
  workflow_dispatch:
    inputs:
      artifact_group:
        type: string
        default: gfx94X-dcgpu
      artifact_run_id:
        description: workflow run id to download the artifacts from
        type: string
      rocm_version:
        description: ROCm version to append to the package (8.0.0, 8.0.1rc1, ...).
        type: string
        default: "0.0.1"
      native_package_type:
        description: Specify whether debian or rpm packages are needed (deb or rpm).
        required: true
        type: choice
        options:
          - rpm
          - deb
        default: "rpm"
      package_suffix:
        description: The suffix to be added to package name (asan, static or rpath).
        type: string
        required: false
      release_type:
        description: The type of release to build ("dev", "nightly", or "prerelease"). All developer-triggered jobs should use "dev"!
        type: string
        default: "dev"

permissions:
  id-token: write
  contents: read

run-name: Install native Linux packages (${{ inputs.artifact_group }}, ${{ inputs.rocm_version }}, ${{ inputs.native_package_type }}, ${{ inputs.package_suffix }}, ${{ inputs.release_type }})

jobs:
  install_native_packages:
    name: Install Linux native Packages
    strategy:
      fail-fast: false
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-linux-scale-rocm' || 'ubuntu-24.04' }}
    env:
      BUILD_IMAGE: ghcr.io/rocm/therock_build_manylinux_x86_64@sha256:583d473f263a289222c48d4b493e2956b2354a45796f09dee6f2c8ecd4504ab6
      ARTIFACT_GROUP: ${{ inputs.amdgpu_family || 'gfx94X-dcgpu' }}
      ROCM_VERSION: ${{ inputs.rocm_version || '7.11.0' }}
      ARTIFACT_RUN_ID: '20151692873' 
      PACKAGE_SUFFIX: ${{ inputs.package_suffix != '' && inputs.package_suffix || '' }}
      OUTPUT_DIR: ${{ github.workspace }}/output
      ARTIFACTS_DIR: ${{ github.workspace }}/output/artifacts
      PACKAGE_DIST_DIR: ${{ github.workspace }}/output/packages
      RELEASE_TYPE: ${{ inputs.release_type || 'dev' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.12'
      - name: Install Python requirements
        run: |
          pip install pyelftools boto3 jinja2 PyYAML 

      - name: Install System requirements
        run: |
          # Install the needed tools for creating rpm / deb packages
          # Also install tools for creating repo files
          sudo apt update
          sudo apt install -y llvm
          sudo apt install -y rpm debhelper-compat build-essential
          sudo apt install -y dpkg-dev createrepo-c

      - name: Install AWS CLI
        run: bash ./dockerfiles/install_awscli.sh

      - name: Configure AWS Credentials for non-forked repos
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::692859939525:role/therock-artifacts-external

      - name: Install non-composite versioned packages (Python script)
        run: |

          python3 ./build_tools/packaging/linux/native_package_installer.py --run-id ${{ env.ARTIFACT_RUN_ID}} --version true --package-json build_tools/packaging/linux/package.json --composite=false --artifact-group ${{ env.ARTIFACT_GROUP }} --rocm-version  ${{ env.ROCM_VERSION }} --package-suffix ${{env.PACKAGE_SUFFIX}} --release-type nightly --bucket therock-deb-rpm-test

      - name: Install non-composite non-versioned packages (Python script)
        run: |
          python3 ./build_tools/packaging/linux/native_package_installer.py --run-id ${{ env.ARTIFACT_RUN_ID}} --version false --package-json build_tools/packaging/linux/package.json --composite=false --artifact-group ${{ env.ARTIFACT_GROUP }} --rocm-version  ${{ env.ROCM_VERSION }} --package-suffix ${{env.PACKAGE_SUFFIX}} --release-type nightly --bucket therock-deb-rpm-test
      - name: Uninstall non-composite packages (Python script)
        run: |
          python3 ./build_tools/packaging/linux/native_package_uninstaller.py  --package-json build_tools/packaging/linux/package.json --composite=false --artifact-group ${{ env.ARTIFACT_GROUP }} --rocm-version ${{ env.ROCM_VERSION }}
      - name: Install composite versioned packages (Python script)
        run: |
          python3 ./build_tools/packaging/linux/native_package_installer.py --run-id ${{ env.ARTIFACT_RUN_ID}} --version true --package-json build_tools/packaging/linux/package.json --composite=true --artifact-group ${{ env.ARTIFACT_GROUP }} --rocm-version  ${{ env.ROCM_VERSION }} --package-suffix ${{env.PACKAGE_SUFFIX}} --release-type nightly --bucket therock-deb-rpm-test
      - name: Install composite non-versioned packages (Python script)
        run: |
          python3 ./build_tools/packaging/linux/native_package_installer.py --run-id ${{ env.ARTIFACT_RUN_ID}} --version false --package-json build_tools/packaging/linux/package.json --composite=true --artifact-group ${{ env.ARTIFACT_GROUP }} --rocm-version  ${{ env.ROCM_VERSION }} --package-suffix ${{env.PACKAGE_SUFFIX}} --release-type nightly --bucket therock-deb-rpm-test
      - name: Uninstall composite packages (Python script)
        run: |
          python3 ./build_tools/packaging/linux/native_package_uninstaller.py  --package-json build_tools/packaging/linux/package.json --composite=true --artifact-group ${{ env.ARTIFACT_GROUP }} --rocm-version ${{ env.ROCM_VERSION }}
