name: Test JAX Wheels

on:
  workflow_dispatch:
    inputs:
      test_runs_on:
        required: true
        type: string
<<<<<<< HEAD
        default: "linux-mi325-1gpu-ossci-rocm-frac"
=======
        default: "linux-mi325-1gpu-ossci-rocm"
>>>>>>> 541e0fc1 (update)
      image_name:
        required: true
        description: JAX docker image to run tests with
        type: string
      jax_version:
        description: Version of JAX to install
        required: false
        type: string
      jax_plugin_branch:
<<<<<<< HEAD
=======
        required: true
>>>>>>> 541e0fc1 (update)
        description: JAX plugin branch to checkout
        type: string
        default: "rocm-jaxlib-v0.6.0"

  workflow_call:
    inputs:
      test_runs_on:
        required: true
        type: string
      image_name:
        required: true
        description: JAX docker image to run tests with
        type: string
      jax_version:
        description: Version of JAX to install instead of the one on the docker image
        required: false
        type: string
      jax_plugin_branch:
<<<<<<< HEAD
        description: JAX plugin branch to checkout to use for test scripts
        type: string
        default: "rocm-jaxlib-v0.8.0"
=======
        required: true
        description: JAX plugin branch to checkout to use for test scripts
        type: string
        default: "rocm-jaxlib-v0.6.0"
>>>>>>> 541e0fc1 (update)

permissions:
  contents: read

jobs:
  test_wheels:
<<<<<<< HEAD
    name: Test
    runs-on: ${{ inputs.test_runs_on }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
=======
    name: Test | ${{ inputs.amdgpu_family }}
    runs-on: ${{ inputs.test_runs_on }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
>>>>>>> 541e0fc1 (update)
        with:
          repo: rocm/rocm-jax
      # TODO: Add steps for creating the JAX docker image with an install of TheRock and then running JAX tests on the container
